
{% macro render_input(name,placeholder,type='number') %}

<div class="control-group">
    <label for="{{name}}" class="control-label">{{placeholder}}</label>
    <div class="controls">
        <input type="{{type}}" name="{{name}}" class="input-xlarge"
        placeholder="{{placeholder}}">
    </div>
</div>

{%endmacro%}

{% macro render_firld(field) %}
<div class="control-group">
    <div class="controls">
        {{field.label}}
        {{field(**kwargs)|safe}}
    </div>
</div>
{%if field.errors%}
<ul>
    {% for error in field.errors%}
    <li style="color: red;">
        {{error}}
    </li>
    {%endfor%}
</ul>
{%endif%}
{%endmacro%}

{% macro render_select(select_field) %}
<div class="control-group">
    <div class="controls">
        {{ select_field.label }}
        <select class="form-select form-select-lg mb-1" aria-label="Ejemplo de .form-select-lg" id="{{ select_field.id }}" name="{{ select_field.name }}">
            {% for option in select_field.choices %}
                {% set selected = '' %}
                {% if option[0] == select_field.data %}
                    {% set selected = 'selected' %}
                {% endif %}
                <option value="{{ option[0] }}" {{ selected }}>{{ option[1] }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% if select_field.errors %}
    <ul>
    {% for error in select_field.errors %}
        <li style="color: red;">{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endmacro %}